	<h4>New Ticket</h4>

<form>
  <div class="form-group">
    <label>Description</label>
    {{input type="text" class="form-control" value=description placeholder="Enter your query" }}
  </div>
  <button {{action "addTicket"}} class="btn btn-primary">Submit</button>
</form>
