.search_hide {
  display: none;
}
.status_filter_hide {
  display: none;
}
.open {
	color: red;
	text-transform: uppercase;
}
.processing {
	color: orange;
	text-transform: uppercase;
}
.closed {
	color: green;
	text-transform: uppercase;
}