<div class="jumbotron">
  <h3>Customer Care</h3>
  <p>Welcome to the Customer Care. Please Sign-in or Sign-up to continue.</p>
  <p>
    {{#link-to 'login'  class="btn btn-md btn-primary"}}Login{{/link-to}}
    {{#link-to 'signup' class="btn btn-md btn-info"}}Sign Up{{/link-to}}          
  </p>
</div>